@import "tailwindcss";

@theme {
  --color-primary: #D81B60; /* Hot Pink from Logo */
  --color-secondary: #212121; /* Dark Grey/Black */
  --color-text-dark: #212121;
  --color-text-light: #757575;
  --color-accent: #FF4081; /* Lighter Pink accent */
  
  --font-tajawal: 'Tajawal', sans-serif;
}

:root {
  --background: #ffffff;
  --foreground: #333333;
}

body {
  direction: rtl;
  font-family: var(--font-tajawal), sans-serif;
  background-color: var(--background);
  color: var(--foreground);
}
