@import "tailwindcss";

@theme {
  --color-primary: #d4af37;
  --color-secondary: #2c3e50;
  --color-text-dark: #333333;
  --color-text-light: #666666;
  --color-accent: #e74c3c;
  
  --font-tajawal: 'Tajawal', sans-serif;
}

:root {
  --background: #ffffff;
  --foreground: #333333;
}

body {
  direction: rtl;
  font-family: var(--font-tajawal), sans-serif;
  background-color: var(--background);
  color: var(--foreground);
}
